@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-color: #1b2027;
  --black-hover-color: #222831cc;
  --grey-color: #393e46;
  --grey-hover-color: #393e46cc;
  --secondary-color: #ffd369;
  --secondary-hover-color: #ffd369cc;
  --white-color: #eeeeee;
  --white-hover-color: #eeeeeecc;
}

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Correción de detalles para las img de Main */
#main-img {
  transform: scale(0.7);
  max-width: max-content;
  translate: -38% -3%;
  border-radius: 0 0 0 100%;
}

#main-bg {
  translate: 0.1rem 1.2rem;
}

@media only screen and (min-width: 768px) {
  #main-img {
    transform: scale(0.9);
    max-width: max-content;
    translate: -38% 12%;
    border-radius: 0 0 0 100%;
  }

  #main-bg {
    transform: scale(1.4);
    translate: 1rem 1.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  #main-img {
    transform: scale(1.2);
    max-width: max-content;
    translate: -38% 28%;
    border-radius: 0 0 0 100%;
  }

  #main-bg {
    transform: scale(1.8);
    translate: 1.7rem 3rem;
  }
}

/* Clase para cuando el link de cada section esté activo */

a.is-active {
  border-color: var(--secondary-hover-color);
  color: var(--white-hover-color);
}

/* Intercala los colores de las sections */
.main-section:nth-child(even) {
  background-color: var(--black-color);
}

.main-section:nth-child(odd) {
  background-color: var(--grey-color);
}

/* GRID para MOBILE en Skills Section */
.skillsContainer {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.skillsContainer > figure:nth-child(-n + 3) {
  grid-column: span 8;
}

.skillsContainer > figure:nth-child(2n + 4) {
  grid-column: 4 / span 8;
}

.skillsContainer > figure:nth-child(2n + 5) {
  grid-column: 14 / span 8;
}

@media only screen and (min-width: 640px) {
  .skillsContainer > figure:nth-child(-n + 4) {
    grid-column: span 6;
  }
  .skillsContainer > figure:nth-child(5) {
    grid-column: 4 / span 6;
  }
  .skillsContainer > figure:nth-child(1n + 6) {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 768px) {
  .skillsContainer {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
  }

  .skillsContainer > figure:nth-child(2) {
    grid-column: span 3;
    grid-row: 1 / span 2;
  }

  .skillsContainer > figure:nth-child(2n-1) {
    grid-column: span 3;
    grid-row: 2 / span 2;
  }

  .skillsContainer > figure:nth-child(4) {
    grid-column: 4 / span 3;
    grid-row: 3 / span 2;
  }

  .skillsContainer > figure:nth-child(5) {
    grid-column: 4 / span 3;
    grid-row: 5 / span 2;
  }

  .skillsContainer > figure:nth-child(6) {
    grid-column: span 3;
    grid-row: 4 / span 2;
  }

  .skillsContainer > figure:nth-child(7) {
    grid-column: 7 / span 3;
    grid-row: 4 / span 2;
  }
}
@media only screen and (min-width: 1024px) {
  .skillsContainer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }

  .skillsContainer > figure:first-child {
    grid-column: span 1;
    grid-row: 2 / span 2;
  }

  .skillsContainer > figure:nth-child(1n + 2) {
    grid-column: 2 / span 1;
    grid-row: span 2;
  }

  .skillsContainer > figure:nth-child(4) {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
  }

  .skillsContainer > figure:nth-child(5) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
  .skillsContainer > figure:nth-child(6) {
    grid-column: 4 / span 1;
    grid-row: span 2;
  }

  .skillsContainer > figure:last-child {
    grid-column: 5 / span 1;
    grid-row: 2 / span 2;
  }
}

/* Skills cards hover animation  */

.skills-animation:hover {
  animation-name: skills-animation;
  animation-duration: 150ms;
  background-color: var(--black-color);
  color: var(--secondary-color);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes skills-animation {
  0% {
    background-color: var(--black-color);
    color: var(--secondary-color);
  }
  100% {
    scale: 1.1;
  }
}

/* Discs cards hover animation  */

.discs-animation:hover {
  animation-name: discs-animation;
  animation-duration: 150ms;
  background-color: var(--black-color);
  color: var(--secondary-color);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes discs-animation {
  0% {
    background-color: var(--black-color);
    color: var(--secondary-color);
  }

  100% {
    scale: 0.9;
  }
}

/* ::after para el clip copyboard del nro de telefono del contacto */
